<template>
<!--
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
-->

  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mt-3">
          <input v-model="query" type="text" class="form-control" placeholder="Search...">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="card-columns list-unstyled">
          <li v-for="vehicletype in filteredList" :key="vehicletype.id" class="card">
            <img :src="vehicletype.image.url" class="card-img-top" style="width:54px; display:block; margin:5px auto" >
            <div class="card-body">
              <h5 class="card-title" style="text-align:center">{{ vehicletype.name }}</h5>
              
              <router-link :to="{ name: 'vehicletypes-id', params: { id: vehicletype.id }}" tag="a" class="btn btn-primary" style="display:block">
                Show Me
              </router-link>
            </div>
          </li>
          <p v-if="!filteredList.length">No results :(</p>
        </ul>
      </div>
    </div>
  </section>
  

</template>

<script>
import Strapi from 'strapi-sdk-javascript/build/main'
const apiUrl = process.env.API_URL || 'http://api:1337'
const strapi = new Strapi(apiUrl)

export default {
  data() {
    return {
      query: ''
    }
  },
  computed: {
    filteredList() {
      return this.vehicletypes.filter(vehicletype => {
        return vehicletype.name.toLowerCase().includes(this.query.toLowerCase())
      })
    },
    vehicletypes() {
      let items = this.$store.getters['vehicletypes/list'];
      //console.log(items);
      return items;
    }
  },
  async fetch({ store }) {
    store.commit('vehicletypes/emptyList')
    const response = await strapi.request('post', '/graphql', {
      data: {
        query: `query {
            vehicletypes {
              _id
              name
              image {
                url
              }
            }
          }
          `
      }
    })
    response.data.vehicletypes.forEach(vehicletype => {
      vehicletype.image.url = `${apiUrl}${vehicletype.image.url}`
      store.commit('vehicletypes/add', {
        id: vehicletype.id || vehicletype._id,
        ...vehicletype
      })
    })
  }
}
</script>