


<template>
  <div>{{title}}</div>
</template>

<script>
import axios from 'axios';
//import $ from 'jquery'

export default {
  async asyncData ({ params }) {
    let { data } = await axios.get(`http://isuzu-tis.com/isuzu-pick-up-4-door-stealth/`)
    //console.log(data);
    //$("#container").innerHTML = data;


    return { title: data}
  }
}
</script>
    
