<template>
  <section class="container">
    <div>
      <h1 class="mt-2">vehiclesubtypes</h1>
      <div class="row">
        <div class="col-md-8">
          <div class="card-columns">
            <div v-for="vehiclesubtype in vehiclesubtypes" :key="vehiclesubtype.id" class="card">
              <img :src="vehiclesubtype.image.url" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ vehiclesubtype.name }}</h5>
                <p class="card-text">{{ vehiclesubtype.description || 'No description provided.' }}</p>
                <button class="btn btn-primary">Details</button>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card</h5>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </section>
</template>

<script>
import Strapi from "strapi-sdk-javascript/build/main";
const apiUrl = process.env.API_URL || "http://api:1337";
const strapi = new Strapi(apiUrl);
export default {
  computed: {
    id() {
      return this.$route.params.id;
    },
    vehiclesubtypes() {
      return this.$store.getters["vehiclesubtypes/list"];
    }
  },
  async fetch({ store, params }) {
    store.commit("vehiclesubtypes/emptyList");
    const response = await strapi.request("post", "/graphql", {
      data: {
        query: `query {
            vehicletype(id: "${params.id}") {
              _id
              name
              vehiclesubtypes {
                _id
                name
                description
                image {
                  url
                }
              }
            }
          }
          `
      }
    });
    response.data.vehicletype.vehiclesubtypes.forEach(vehiclesubtype => {
      vehiclesubtype.image.url = `${apiUrl}${vehiclesubtype.image.url}`;
      store.commit("vehiclesubtypes/add", {
        id: vehiclesubtype.id || vehiclesubtype._id,
        ...vehiclesubtype
      });
    });
  }
};
</script>