
<template>  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <router-link tag="a" class="navbar-brand" to="/" exact>ISUZU</router-link>
    </div>
  </nav>
</template>  